$primary-color: teal;
$medium: hsl(180, 62%, 79%);

.mat-toolbar {
  background-color: white;
}
.spacer {
  flex: 1 1 auto;
  background-color: black;
}

h1 {
  color: $primary-color;
  margin: 0;
  font-size: 40px;
}

.branding {
  display: flex;
  margin-left: -4px;
}
.branding img {
  height: 65px;
  vertical-align: middle;
  margin-top: -10px;
}
.branding h1 {
  font-size: 30px;
  vertical-align: middle;
  margin-top: 10px;
}

.searchbar input {
  //flex: 1;
  color: $primary-color;
  border: 0px solid $medium;
  height: 40px;
  border-right: none;
  border-radius: 30px 0 0 30px;
  width: 100%;
  background: $medium;
  margin-right: -20px;
  padding-left: 20px;
  color: white;
}

.searchbar button {
  color: $medium;
  border: 1px solid $medium;
  height: 42px;
  width: 64px;
  border-left: none;
  border-radius: 30px 30px 30px 30px;
}
.searchbar text {
  margin-left: 20px;
  color: white;
}

.nav-links {
  //  text-decoration: none;
  color: $primary-color;
  cursor: pointer;
}

/*

  .suggested-search{
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
  }
 

  .suggested-search li {
    padding:5px;
    border: 1px solid #ddd;
  }
  .suggested-search li a{
    cursor: pointer;
    color: $primary-color;
  }

  .nav {
  display: flex;
  justify-content: space-between;
}

.nav h1 {
  color: $primary-color;
  margin: 0;
  font-size: 40px;
}
.nav .nav-search {

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}



.nav .nav-search button{
    color: $primary-color;
    border: 1px solid $primary-color;
    height: 39px;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
}

h1 a{
  color: $primary-color;
  text-decoration: none;
}

.suggested-search{
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-search li {
  padding:5px;
  border: 1px solid #ddd;
}
.suggested-search li a{
  cursor: pointer;
  color: $primary-color;
}

*/
