<mat-toolbar>
  <div class="branding">
      <img src="../../assets/SoraPay logo A.png" alt="Logo" />
      <h1>SoraPay</h1>
  </div>
  <div class="spacer"></div>
  <div class="searchbar">
    <input type="text" ngModel="enteredSearchValue" (input)="onSearchTextChanged($event)" placeholder="Search products... " />
  </div>
  <span class="spacer"></span>
  <ul class="nav-links">
    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="loginpage">Login</a>
    <a mat-button routerLink="registrationpage">Register</a>
  </ul>