<h1 class="page-title">
    Products
  </h1>

<section class="sectionA">
    
  <div class="container" *ngFor="let item of data">
    <div>
      <img
        class="product-image"
        [src]="item.image"
        alt="Error: data for {{ item.title }} not found."
      />
    </div>
    <div class="product">
      <p class="product-category">{{ item.category }}</p>
      <h1 class="product-title">{{ item.title }}</h1>
      <h2 class="product-price">E£ {{ item.price }}</h2>
      <p class="product-description">{{ item.description }}</p>
    </div>
  </div>
</section>
