/*
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$orange: hsl(29, 100%, 50%);
$teal: teal;
$darker: rgb(1, 73, 73);
$softer: rgb(13, 163, 163);



.page-title {
  font-size: 35px;
  color: black;
  font-weight: bold;
  margin-left: 92.5px;
}

.sectionA {
  display: grid;
  column-gap: 0.5%;
  row-gap: 0.5%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  margin-left: 0px;
  justify-content: space-around;
}


.container {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 400px;
  background: white;
  box-shadow: 5px 5px 15px rgba($teal, .5);
  margin-bottom: 2%;
  margin-right: 5px;
  border-radius: 15px;
  &:hover {
    //background: $teal;
    transition: all .15s ease-in-out;
    outline: 3px solid teal;
    height: 340px;
    width: 470px;
    z-index: 9999;
  
    @media (min-width: 500px) and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr)
    } 
    @media (max-width: 499px) {
      grid-template-columns: 1fr
    }
}
}

p {
  font-size: 0.7rem;
  color: $teal;
  letter-spacing: 0.35px;
}


.product-image {
    height: 90%;
    width: 225px;
    object-fit: contain;
    margin-top: 7%;
    margin-bottom: 0px;
    margin-right: 7%;
    margin-left: 7%;
}

.product {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product p,
.product h1,
.product h2 {
  margin-bottom: 5px;  Decrease the margin-bottom value to reduce the space
}

.product-category {
  text-transform: capitalize;
}

.product-description {
  //text-transform: capitalize;
  letter-spacing: 0;
  color: black;
  font-size: .7em;
  line-height: 1.6em;
  text-align: justify;
  
}

*/