@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css?family=Google+Sans');


$font: "Lato", sans-serif;

$orange: hsl(29, 100%, 50%);
$teal: teal;
$darker: rgb(1, 73, 73);
$softer: rgb(13, 163, 163);



.productgrid {
  display: grid;
  column-gap: 0.4%;
  row-gap: 0.5%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  row-gap: 20px;
  justify-content: space-around;
}

.card {
  height: 220px;
  width: 130px;
  overflow: hidden;

  //display: flex;
  //flex-direction: column;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  //grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  background-color: white;
  //color: inherit;
  border: 10px grey;
  //box-shadow: 2px 2px 7px rgba($teal, .5);
  border-radius: 9px;
  outline: 4px solid rgb(grey, 0.08);
  &:hover {
    //background: $teal;
    transition: all 0.15s ease-in-out;
    outline: 5px solid teal;
//    height: 320px;
//    width: 150px;
    z-index: 9999;

    @media (min-width: 500px) and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 499px) {
      grid-template-columns: 1fr;
    }
  }
}

.product-image {
  grid-row-start: 1;
  grid-row-end: 10;
  overflow:hidden;
  //object-fit: cover;
  max-height: 100%;
  width: 100%;
}

.cardfooter {
  grid-row-start: 10;
  grid-row-end: 10;
  width: 100%;
  text-align: left;
  background-color: rgb(204, 204, 204, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cardfooter .product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.cardfooter .product-price {
  margin: 0px;
  padding: 0px;
}



.product-category {
  text-transform: capitalize;
  margin-bottom: 0px;
}
/*.product-description ::first-letter {
  text-transform: capitalize;
}
*/
.product-description {
  //text-transform: capitalize;
  letter-spacing: 0;
  color: black;
  font-size: 0.7em;
  line-height: 1.6em;
  text-align: justify;
}

p {
  font-size: 0.7rem;
  color: $teal;
  //letter-spacing: 0.35px;
}




mat-paginator {
  background-color: transparent;
}