<div class="content-card">
<h1 class="page-title" *ngIf="this.searchText === ''">Products by Category</h1>
<h1 class="page-title" *ngIf="this.searchText !== ''">
  Searching for: {{ this.searchText }}
</h1>

<div class="content-card">
  <section class="productgrid" *ngIf="this.searchText !== ''">
    <div class="card" *ngFor="let item of searchProductsBySearchText()">
      <img
        class="product-image"
        [src]="item.image"
        alt="Error: data for {{ item.title }} not found."
      />
      <div class="cardfooter">
        <h1 class="product-title">{{ item.title }}</h1>
        <h2 class="product-price">E£ {{ item.price }}</h2>

        <button mat-raised-button routerLink="/producteditpage/{{ item.id }}">
          Edit
        </button>
      </div>
    </div>
  </section>

  <mat-tab-group fitInkBarToContent *ngIf="this.searchText === ''">
    <mat-tab label="All categories" (click)="showAllProducts()">
      <section class="productgrid">
        <div
          class="card"
          *ngFor="let item of filteredProducts.slice(0, chosenPageSize)"
        >
          <img
            class="product-image"
            [src]="item.image"
            alt="Error: data for {{ item.title }} not found."
          />
          <div class="cardfooter">
            <h1 class="product-title">{{ item.title }}</h1>
            <h2 class="product-price">E£ {{ item.price }}</h2>

            <button
              mat-raised-button
              routerLink="/producteditpage/{{ item.id }}"
            >
              Edit
            </button>
          </div>
        </div>
      </section>
      <mat-paginator
        [length]="productsAmount"
        [pageSize]="initialPageSize"
        [pageSizeOptions]="[initialPageSize, 14, productsAmount]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </mat-tab>

    <mat-tab
      *ngFor="let category of categories"
      [label]="category"
      (click)="filterProductsByCategory(category)"
    >
      <section class="productgrid">
        <div
          class="card"
          *ngFor="let item of filterProductsByCategory(category)"
        >
          <img
            class="product-image"
            [src]="item.image"
            alt="Error: data for {{ item.title }} not found."
          />
          <div class="cardfooter">
            <h1 class="product-title">{{ item.title }}</h1>
            <h2 class="product-price">E£ {{ item.price }}</h2>

            <button
              mat-raised-button
              routerLink="/producteditpage/{{ item.id }}"
            >
              Edit
            </button>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>
