
<app-header>  </app-header>

<!-- old Material Toolbar 
  <mat-toolbar class="toolbar">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
      <img src="../../assets/logo.svg" alt="Logo" />
      <h1>SoraPay</h1>
  </div>
  <div class="spacer"></div>
   <div class="searchbar">
    <input type="text" ngModel="enteredSearchValue" (input)="onSearchTextChanged($event)" placeholder="Search products... " />
  </div>
  <span class="spacer"></span>
  <ul class="nav-links">
    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="loginpage">Login</a>
    <a mat-button routerLink="registrationpage">Register</a>
  </ul>

</mat-toolbar> -->

  <mat-sidenav-container>
    
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
      <app-custom-sidenav [collapsed]="collapsed()" />
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  