html {
    display: flex;
    background-color: white;
  }
  
  mat-card {
    border-radius: 10px;
  }
  .span1 {
    height: 100px;
  }
  .cardcontainer {
    display: grid;
    width: 432px;
    margin: 0 auto;
  }
  
  form {
    display: grid;
    padding: 0px 25px 25px 25px;
    flex-direction: column;
    min-width: 150px;
    max-width: 350px;
  
  }
  
  .button {
    cursor: pointer;
  }
  
  .container {
    text-align:center;
    margin: 25px 0px 0px 0px;
    width: 100%;
    align-self: center;
  }  

  .wrongpass {
    color: red;
    font-size: 15px;
  }