<p>navigation-rail works!</p>

<div class="navigation">
    <div class="nav-item menu-button">
      <span class="material-symbols-rounded">menu</span>
    </div>
    <div class="nav-item active">
      <span class="material-symbols-rounded">cottage</span>
      Home
    </div>
    <div class="nav-item">
      <span class="material-symbols-rounded">restaurant_menu</span>
      Menu
    </div>
    <div class="nav-item">
      <span class="material-symbols-rounded">location_on</span>
      Where
    </div>
    <div class="nav-item">
      <span class="material-symbols-rounded">emoji_food_beverage</span>
       Our Coffee
    </div>
    <div class="nav-item">
      <span class="material-symbols-rounded">sports_martial_arts</span>
      Fight
    </div>
  </div>